* {
    margin:0%;
    padding:0%;
}
body {
    background-color:#f4f3f1;
    
}
h1 {
    text-align:center;
    height: 1em;
    padding: 1em;
    line-height: 1em;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.listeBouton {
    display:flex;
    justify-content:space-around; 
    list-style:none;
}


.lesBoutons {
    padding:5%;
}

.bouton {
    width:15%;
}
#pierre {
    width:100%;
    height:100%;
    border-radius:50%;
    background-color:white;
    box-shadow:3px 3px 10px grey;
}
#feuille {
    width:100%;
    height:100%;
    border-radius:50%;
    background-color:white;
    box-shadow:3px 3px 10px grey;
}
#ciseaux {
    width:100%;
    height:100%;
    border-radius:50%;
    background-color:white;
    box-shadow:3px 3px 10px grey;
}
.faitChoix {
    padding-top:12%;
    padding-bottom:5%;
    text-align:center;
    color: black;
}

.afficheImage {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    width:100%;
    padding-top:5%;
    background-color: #C9C7C2;
}

.iconeChoix {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.titre {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 5%;;
}

#joueur {
    background-size:cover;
    background-color:white;
    width:75%;
    height:120px;
    margin:5%;
    border-radius:100%;
    box-shadow:10px 0px 12px 0px grey;
} 
#afficheIa {
    background-size:cover;
    background-color:white;
    width:75%;
    height:120px;
    margin:5%;
    border-radius:100%;
    box-shadow:10px 0px 12px 0px grey;
}
.afficheVersus {
    width:25%;
    margin-top:10%;
    margin-left:5%;
    margin-right:5%;
}

.imageVersus {
    width:150%;
}
.titreResultat {
    text-align:center;
}
#afficheResultat {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFFFFE;
    width:90%;
    margin:0.5em auto;
    height:2.5em;
    text-align:center;
    border-radius:2%;
    box-shadow: 5px 5px 10px 0px grey;
}

#boutonReJouer {
    height:3.5em;
    border-radius:3%;
    color:white;
    box-shadow: 5px 5px 10px 0px grey;
    background-color:#A49F96;
    border:none;
    width: 100%;
}

.reset {
    width: 35%;
    text-align: center;
    margin: 5% auto;
}

.bas {
    /*background-color: yellowgreen;*/
    padding:5%;
}

.titreIa {
    margin-right: 1.8em;
}
.titreJoueur {
    margin-left: 0.3em;
}